<md-card ng-cloak>

  <md-toolbar layout="row" layout-align="center center">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Liste des projets</h2>
      <span flex></span>
      <md-button class="md-raised" aria-label="Nouveau" nra-auth="['manager','admin']" type="submit" ui-sref=".create">
          Nouveau
          <md-icon><i class="material-icons">add_circle_outline</i></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-card-content>
  <!--   <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Code</th>
          <th>Nom</th>
          <th>Chef de projet</th>
          <th>Date début</th>
          <th>Statut</th>
          <th>Dernière modification</th>
          <th>Archiver</th>
          <th>Supprimer</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="project in projectsListVm.projects" ng-switch on="project.statut" ng-dblClick="projectsListVm.redirectProjectsDetails($event, project._id)">

          <td><a ui-sref=".details.info({id:project._id})"> <b>{{ project.code }}</b> </a></td>
          <td><a ui-sref=".details.info({id:project._id})"> <b>{{ project.nom }}</b> </a></td>
          <td>{{ project.chef_projet.prenom }} {{ project.chef_projet.nom }}</td>
          <td>{{ project.date_debut | date:"dd/MM/yyyy" }}</td>
          <td ng-switch-when="Initial"><i class="material-icons" style="color:blue;font-size:1.5em;">fiber_new</i></td>
          <td ng-switch-when="En cours"><i class="fa fa-cog fa-spin fa-fw margin-bottom" style="color:orange;font-size:1.5em;"></i></td>
          <td ng-switch-when="Terminé(e)"><span class="fa fa-check-circle" style="color:green;font-size:1.5em;"></span></td>
          <td ng-switch-when="Annulé(e)"><span class="fa fa-times-circle" style="color:red;font-size:1.5em;"></span></td>

          <td>{{ project.date_derniere_modif | date:"dd/MM/yyyy 'à' HH:mm:ss" }}</td>


          <td><a ng-click="projectsListVm.archiveProject(project._id)"><span class="fa fa-archive fa-lg" style="color: gray;"></span> </a></td>

          <td><a ng-click="projectsListVm.deleteProject(project._id)"><span class="fa fa-trash-o fa-lg" style="color: red;"></span> </a></td>

        </tr>
      </tbody>
    </table> -->

    <table ng-table="projectsListVm.tableParams" show-filter="true" class="table table-striped table-hover">
      <tr ng-repeat="row in $data" ng-dblClick="projectsListVm.redirectProjectsDetails($event, row._id)">
        <td title="'Code'" filter="{code: 'text'}" sortable="'code'"><a ui-sref=".details.info({id:row._id})"> <b>{{ row.code }}</b> </a></td>
        <td title="'Nom'" filter="{nom: 'text'}" sortable="'nom'"><a ui-sref=".details.info({id:row._id})"> <b>{{ row.nom }}</b> </a></td>
        <td title="'Chef de projet'" sortable="'chef_projet.identite'">{{row.chef_projet.identite}}</td>
        <td title="'Date début'" filter="{date_debut: 'text'}" sortable="'date_debut'">{{row.date_debut | date:"dd/MM/yyyy" }}</td>

        <td title="'Statut'" sortable="'statut.statut'"> <md-tooltip md-direction="left">{{row.statut.statut}}</md-tooltip><span class="{{row.statut.class}}" style="color:{{row.statut.color}};font-size:1.5em;"></span></td>

        <td title="'Dernière modification'" filter="{date_derniere_modif: 'text'}" sortable="'date_derniere_modif'" >{{ row.date_derniere_modif | date:"dd/MM/yyyy 'à' HH:mm:ss" }}</td>

        <td ng-click="projectsListVm.archiveProject(row._id)">
          <span class="fa fa-archive fa-lg" style="color: gray;"></span>
        </td>
        <td ng-click="projectsListVm.deleteProject(row._id)">
          <span class="fa fa-trash-o fa-lg" style="color: red;">
        </td>

      </tr>
    </table>


   <!--  <div layout="row" layout-align="center">
      <md-input-container class="md-block">
          <md-button nra-auth="['manager','admin']" class="md-raised md-primary" type="submit" ui-sref=".create">Créer un nouveau projet</md-button>
      </md-input-container>
    </div>
 -->
  </md-card-content>
</md-card>
<br>

