<md-card>
  <md-toolbar layout="row">
    <div class="md-toolbar-tools">
      <h2>Création d'un nouveau projet</h2>
    </div>
  </md-toolbar>
  <form name="createProjectForm">
    <md-card-content flex>

      <div flex layout="row" layout-xs="column" layout-align="center">
        <!-- Colonne 1 -->
        <div flex="50" flex-xs="100" layout="row" layout-align="center">
  
          <div layout="column" layout-align="center" flex>

            <div layout-align="center" layout>
              <md-input-container class="md-block" flex="80" flex-xs="100">
                <label>Nom du projet</label>
                <input ng-model="projectCreateVm.project.name" maxlength="20" name="nom" required>
                <div ng-messages="createProjectForm.nom.$error">
                  <div ng-message="required">Ce champ est obligatoire.</div>
                </div>
              </md-input-container>
            </div>
          
            <div layout="row" layout-xs="column" layout-align="center" >
              <div flex="80" layout>
                <div flex="45"><label>Date de début</label></div>
                <div flex="10"></div>
                <div flex="45">
                  <md-datepicker ng-model="projectCreateVm.project.startDate" md-placeholder="Entrer date" md-min-date="projectCreateVm.minDate" name="dateDebut"/> </md-datepicker>
                </div>
              </div>
            </div>

            <br>

            <div layout="row" layout-xs="column" layout-align="center" flex="80" >
              <div flex="80" layout>
                <div flex="45"><label>Date de fin <b>théorique</b></label></div>
                <div flex="10"></div>
                <div flex="45">
                  <md-datepicker ng-model="projectCreateVm.project.endDate" md-placeholder="Entrer date" md-min-date="projectCreateVm.project.startDate" name="dateFinTheorique"></md-datepicker>
                </div>
              </div>
            </div>

          </div>
        </div>

          <!-- colonne 2 -->
        <div flex="50" flex-xs="100" layout="row" layout-align="center">
          
          <div layout="column" layout-align="center" flex >

            <div layout-align="center" layout>
              <md-input-container class="md-block" flex="80" flex-xs="100">
                <label>Statut</label>
                <md-select ng-model="projectCreateVm.project.statut" name="statut" required>
                  <md-option ng-repeat="statut in projectCreateVm.statuts" value="{{statut}}">
                    {{statut}}
                  </md-option>
                </md-select>
                <div ng-messages="createProjectForm.statut.$error">
                  <div ng-message="required">Ce champ est obligatoire.</div>
                </div>
              </md-input-container>
            </div>


            <div layout-align="center" layout>
              <md-input-container class="md-block" flex="80" flex-xs="100">
                <label>Ligne budgétaire</label>
                <md-select ng-model="projectCreateVm.project.ligne_budgetaire" name="budget" required>
                  <md-option ng-repeat="budget in projectCreateVm.budgets" value="{{budget}}">
                    {{ budget.libelle }} - {{ budget.montant }} €
                  </md-option>
                </md-select>
                <div ng-messages="createProjectForm.budget.$error">
                  <div ng-message="required">Ce champ est obligatoire.</div>
                </div>
              </md-input-container>
            </div>
              
            <br>
            
            <div layout-align="center" layout>
              <div flex="50" flex-xs="100">
                <md-input-container class="md-block">
                  <div layout="row" flex>
                    <md-button class="md-raised" ng-click="projectCreateVm.showCollaboratorPicker($event)">
                      Choisir les collaborateurs
                    </md-button>
                  </div>
                </md-input-container>
              </div>
            </div>

          </div>

        </div>
      
      </div>
      <br>
      <md-divider></md-divider>

      <div flex layout layout-align="center center">
        <div>
          <md-input-container class="md-block">
            <div layout="row">
              <md-button class="md-raised" ng-click="projectCreateVm.showCancelDialog($event)">Annuler</md-button>
              <md-button class="md-raised md-primary" type="submit" ng-click="projectCreateVm.createProject()" ng-disabled="createProjectForm.$invalid">Créer</md-button>
            </div>
          </md-input-container>
        </div>
      </div>

    </md-card-content>
  </form>
</md-card>

<br>
