<md-card>

  <md-toolbar layout="row">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Création d'un nouveau projet</h2>
    </div>
  </md-toolbar>

  <md-card-content>

    <form class="form-horizontal" name="createProjectForm">

      <md-input-container class="md-block">
        <label>Nom du projet</label>
        <input ng-model="project.name" maxlength="20" name="nom" required>
        <div ng-messages="createProjectForm.nom.$error">
          <div ng-message="required">Ce champ est obligatoire.</div>
        </div>
      </md-input-container>


      <div class="form-group">
        <label class="col-xs-4">Date de début de projet</label>
        <md-datepicker ng-model="project.startDate" md-placeholder="Entrer date" md-min-date="minDate" name="dateDebut"/> </md-datepicker>
      </div>

      <br>

      <div class="form-group">
        <label class="col-xs-4">Date de fin <b>théorique</b> de projet</label>
        <md-datepicker ng-model="project.endDate" md-placeholder="Entrer date" md-min-date="project.startDate" name="dateFinTheorique"></md-datepicker>
        </div>
      <br>

      <div layout-gt-sm="row">

        <!-- Statut -->
        <md-input-container class="md-block" flex-gt-sm="">
          <label>Statut</label>
          <md-select ng-model="project.statut" name="statut" required>
            <md-option ng-repeat="statut in statuts" value="{{statut}}">
              {{statut}}
            </md-option>
          </md-select>
          <div ng-messages="createProjectForm.statut.$error">
            <div ng-message="required">Ce champ est obligatoire.</div>
          </div>
        </md-input-container>

        <div flex="5" hide-xs="" hide-sm="">
          <!-- Spacer //-->
        </div>

        <!-- Ligne budgétaire -->
        <md-input-container class="md-block" flex-gt-sm="">
          <label>Ligne budgétaire</label>
          <md-select ng-model="project.ligne_budgetaire" name="budget" required>
            <md-option ng-repeat="budget in budgets" value="{{budget}}">
              {{ budget.libelle }} - {{ budget.montant }} €
            </md-option>
          </md-select>
          <div ng-messages="createProjectForm.budget.$error">
            <div ng-message="required">Ce champ est obligatoire.</div>
          </div>
        </md-input-container>

      </div>

      <div layout-gt-sm="row">
        <!-- Collaborateurs -->
        <md-list flex="">
          <md-subheader class="md-no-sticky">Liste des collaborateurs à affecter au projet : </md-subheader>
          <md-list-item class="md-2-line" ng-repeat="collaborator in collaborators" ng-click="selectCollaborator(collaborator)">
            <div class="md-list-item-text" layout="column">
              <h3>{{ collaborator.prenom }} {{ collaborator.nom }}</h3>
              <p>{{ collaborator.pseudo }}</p>
            </div>
            <md-checkbox nra-auth="['admin','manager']" class="md-primary" ng-checked="collaborator.checked"></md-checkbox>
          </md-list-item>
        </md-list>

      </div>
      <div layout-gt-sm="row">
        <md-content class="md-padding autocomplete" layout="column">
          <md-contact-chips
              ng-model="projectCreate.contacts"
              md-contacts="projectCreate.querySearch($query)"
              md-contact-name="name"
              md-contact-image="image"
              md-contact-email="email"
              md-require-match="true"
              md-highlight-flags="i"
              filter-selected="projectCreate.filterSelected"
              placeholder="Collaborateurs">
          </md-contact-chips>
        </md-content>
      </div>


      <md-input-container class="md-block">
        <div layout="row">
          <md-button class="md-raised" ng-click="showCancelDialog($event)">Annuler</md-button>
          <md-button class="md-raised md-primary" type="submit" ng-click="createProject()" ng-disabled="createProjectForm.$invalid">Créer</md-button>
        </div>
      </md-input-container>

      </div>

    </form>

  </md-card-content>

</md-card>

<br>
