<md-card ng-cloak>

  <md-toolbar layout="row" layout-align="center center">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Liste des projets : {{ projectsListVm.projects.length }} projets</h2>
      <span flex></span>
      <div style="padding-top:12px;color:white">
        <md-checkbox ng-model="projectsListVm.isFiltersEnabled">
          Filtre
        </md-checkbox>
      </div>
    </div>
  </md-toolbar>

  <md-card-content>

    <table ng-table="projectsListVm.tableParams" show-filter="projectsListVm.isFiltersEnabled" class="table table-striped table-hover">
      <tr ng-repeat="row in $data" ng-dblClick="projectsListVm.redirectProjectsDetails($event, row._id)">
        <td title="'Code'" filter="{code: 'text'}" sortable="'code'"><a ui-sref=".details.info({id:row._id})"> <b>{{ row.code }}</b> </a></td>
        <td title="'Nom'" filter="{nom: 'text'}" sortable="'nom'"><a ui-sref=".details.info({id:row._id})"> <b>{{ row.nom }}</b> </a></td>
        <td title="'Chef de projet'" sortable="'chef_projet.identite'">{{row.chef_projet.identite}}</td>
        <td title="'Date début'" filter="{date_debut: 'text'}" sortable="'date_debut'">{{row.date_debut | date:"dd/MM/yyyy" }}</td>

        <td title="'Statut'" sortable="'statut.statut'"> <span class="{{row.statut.class}}" style="color:{{row.statut.color}};font-size:1.5em;"><md-tooltip md-direction="left">{{row.statut.statut}}</md-tooltip></span></td>

        <td title="'Dernière modification'" filter="{date_derniere_modif: 'text'}" sortable="'date_derniere_modif'" >{{ row.date_derniere_modif | date:"dd/MM/yyyy 'à' HH:mm:ss" }}</td>

        <td ng-click="projectsListVm.archiveProject(row._id)">
          <span class="fa fa-archive fa-lg" style="color: gray;"></span>
        </td>
        <td ng-click="projectsListVm.deleteProject(row._id)">
          <span class="fa fa-trash-o fa-lg" style="color: red;"></span>
        </td>

      </tr>
    </table>

    <div layout="row" layout-align="center">
      <md-input-container class="md-block">
        <md-button nra-auth="['manager','admin']" class="md-raised md-primary" type="submit" ui-sref=".create">Créer un nouveau projet</md-button>
      </md-input-container>
    </div>

  </md-card-content>
</md-card>
<br>

