<!-- <div flex  layout> -->
<form name="createTaskForm">
  <div layout="row" flex  layout-align="center">
    <h4>Création d'une tâche</h4>
  </div>
  <div flex layout>

    <div flex layout="row" layout-xs="column" layout-align="center">
      <!-- Colonne 1 -->
      <div flex="50" flex-xs="100" layout="row" layout-align="center">
        <div flex="70"  flex-xs="100">

          <md-input-container class="md-block" flex="100" >

            <label>Nom de la tâche</label>
            <input ng-model="tasksCreateVm.task.name" maxlength="30" name="nom" required>
            <div ng-messages="createTaskForm.nom.$error">
              <div ng-message="required">Ce champ est obligatoire.</div>
              <div ng-message="maxlength">Le nom de la tâche ne doit pas dépasser 30 caractères.</div>
            </div>
          </md-input-container>

          <div flex layout="row" layout-xs="column" >
            <div flex="45" flex-xs="100"><label>Date de début</label></div>
            <div flex="10"></div>
            <div flex="45" flex-xs="100">
              <md-datepicker ng-model="tasksCreateVm.task.startDate" md-min-date="tasksCreateVm.minDate" name="dateDebut" md-date-filter="tasksCreateVm.filterOnlyWeekDays"  ></md-datepicker>
            </div>
          </div>

          <br>

          <div flex layout="row" layout-xs="column" >
            <div flex="45" flex-xs="100"><label>Date de fin <b>théorique</b></label></div>
            <div flex="10"></div>
            <div flex="45" flex-xs="100">
              <md-datepicker ng-model="tasksCreateVm.task.endDate" md-min-date="tasksCreateVm.minDate" md-max-date="tasksCreateVm.maxDate" name="dateFinTheorique"  md-date-filter="tasksCreateVm.filterOnlyWeekDays" ></md-datepicker>
            </div>
          </div>

        </div>
      </div>
      <!-- Colonne 2 -->

      <div flex="50" flex-xs="100" layout="row" layout-align="center" >
        <div flex="70" flex-xs="100">

          <md-input-container class="md-block" flex-xs="100">

            <label>Description</label>
            <textarea ng-model="tasksCreateVm.task.description" name="description" maxlength="250" md-maxlength="250" rows="10"></textarea>
          </md-input-container>

          <div flex="100" flex-xs="100" layout-align="center" layout>
            <div>
              <md-input-container class="md-block">
                <md-button class="md-raised" ng-click="tasksCreateVm.showCollaboratorPicker($event)">
                  Choisir les collaborateurs
                </md-button>
              </md-input-container>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

  <div flex layout layout-align="center center">
    <div>
      <md-input-container class="md-block">
        <md-button class="md-raised" ng-click="tasksCreateVm.showCancelDialog()">Annuler</md-button>
        <md-button class="md-raised md-primary" type="submit" ng-click="tasksCreateVm.createTask()" ng-disabled="createTaskForm.$invalid">Créer</md-button>
      </md-input-container>
    </div>
  </div>

</form>
