<div layout="row" flex  layout-align="center">
    <h4>Détails de la tâche</h4>
</div>
<br>
<div flex layout>
  <div flex layout layout-align="center">
    <form name="tasksDetailsForm">
      <div layout layout-align="center">
        <div flex="45">
          <md-input-container class="md-block">
            <label>Nom de la tâche</label>
            <input ng-model="tasksDetailsVm.task.libelle" maxlength="100" required name="nom">
            <div ng-messages="tasksDetailsForm.nom.$error">
              <div ng-message="required">Ce champ est obligatoire.</div>
            </div>
          </md-input-container>
        </div>
        <div flex="10"></div>
        <div flex="45">
          <md-input-container class="md-block">
            <label>Durée <b>théorique</b></label>
            <input ng-model="tasksDetailsVm.task_cost" disabled>
          </md-input-container>
        </div>
      </div>

      <div layout layout-align="center">
        <div flex="45">
          <label>Date de début </label>
          <md-datepicker ng-model="tasksDetailsVm.task.date_debut" ng-value="tasksDetailsVm.task.date_debut" ng-disabled="true"></md-datepicker>
        </div>
        <div flex="10"></div>
        <div flex="45">
          <label>Date de fin <b>théorique</b></label>
          <md-datepicker ng-model="tasksDetailsVm.task.date_fin_theorique" ng-value="tasksDetailsVm.task.date_fin_theorique" ng-disabled="true"></md-datepicker>
        </div>
      </div>

      <br>
      <br>
      <div layout layout-align="center">
        <div flex="45">
          <md-input-container class="md-block">
            <label>Statut</label>
            <md-select ng-model="tasksDetailsVm.task.statut" name="statut" ng-change="tasksDetailsVm.changedValue(tasksDetailsVm.task.statut)">
              <md-option ng-repeat="statut in tasksDetailsVm.statuts" value="{{statut}}">{{ statut }}</md-option>
            </md-select>
            <div ng-messages="tasksDetailsForm.statut.$error">
              <div ng-message="required">Ce champ est obligatoire.</div>
            </div>
          </md-input-container>
        </div>

        <div flex="10"></div>

        <div flex="45">
          <div layout layout-align="center">
            <div>
              <label>Date de fin <b>réelle</b></label>
              <md-datepicker ng-model="tasksDetailsVm.task.date_fin_reelle"  md-min-date="tasksDetailsVm.minDate" ng-disabled="!tasksDetailsVm.isDateReelleEnable" md-date-filter="tasksDetailsVm.filterOnlyWeekDays"></md-datepicker>
            </div>
          </div>
        </div>

      </div>

      <br>

      <div layout layout-align="center">
        <div flex="100">
          <md-input-container class="md-block" flex-xs="100">
            <label>Description</label>
            <textarea ng-model="tasksDetailsVm.task.description" name="description" maxlength="250" md-maxlength="250" rows="10"></textarea>
          </md-input-container>
        </div>
      </div>


      <div layout layout-align="center">
        <div>
          <md-input-container class="md-block" flex-xs="100" flex="70">
              <md-button class="md-raised" ng-click="tasksDetailsVm.showCollaboratorPicker($event)">
                Voir/Choisir les collaborateurs
              </md-button>
          </md-input-container>
        </div>
      </div>

      <br>
      <div layout layout-align="center center">
        <div>
          <md-input-container class="md-block">
            <md-button class="md-raised" ng-click="tasksDetailsVm.showCancelDialog($event)">Annuler</md-button>
            <md-button class="md-raised md-primary" type="submit" ng-click="tasksDetailsVm.updateTask()">Enregistrer</md-button>
          </md-input-container>
        </div>
      </div>

      <!-- TODO Changer de place !!! -->
      <!--<p>Avancement global du projet</p>
        <md-progress-linear md-mode="determinate" value="{{progressProject}}"></md-progress-linear>-->

    </form>
  </div>
</div>
<br>
