body {
  background-image: url(../images/background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

md-sidenav {
  position: fixed;
  height: 100%;
}

md-backdrop.md-sidenav-backdrop{
  height: auto;
  display: block;
  position: fixed !important;
 /* overflow: hidden;*/
}


table > thead > tr > th,
table > tbody > tr > td
{
  text-align : center;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

table > tbody > tr > td:hover, a:hover, canvas:hover, md-grid-tile:hover
{
   cursor: pointer;
}

table > tbody > tr> td.vert-align{
  vertical-align: middle;
}

/* Font color white */
.md-button.md-raised.md-primary > span,
.md-button.md-raised.md-primary,
md-toolbar .md-toolbar-tools h2
{
  color : white;
}

/* Custom page header */
.header {
  min-height:64px;
}
.container { margin-bottom: 30px; }
/* Custom page footer */
.footer {
  position: fixed; 
  bottom: 0; 
  min-width: 100%;
  background-color: white;
  -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.3);
}

.footer > .container{
  text-align: center;
  vertical-align: middle;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}

.progressBarClass {
  position: relative;
}

.white-text {
  color: #FFFFFF;
}

.red-tile {
  background-color: #E57373;
}

.blue-tile {
  background-color: #4FC3F7;
}

.green-tile {
  background-color: #AED581;
}

.orange-tile {
  background-color: #FFB74D;
}

.gray-tile {
  background-color: #BDBDBD;
}

.tile-effect { 
    transition: all .2s ease-in-out; 
}

.tile-effect:hover {
    transform: scale(1.03); 
}


.no-deco { text-decoration: none; }
.tile-content { padding-bottom: 40px ;}


/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('material-icons.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.p-t-10 {
    padding-top: 10px !important;
}
.media-main a.pull-left {
    width: 100px;
}
.thumb-lg {
    height: 84px;
    width: 84px;
}
.media-main .info {
    overflow: hidden;
    color: #000;
}
.media-main .info h4 {
    padding-top: 10px;
    margin-bottom: 5px;
}
.social-links li a {
    background: #EFF0F4;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #7A7676;
}

#profileCard {
  box-shadow:-6px 0px 5px -5px #999;
  padding-left: 20px;
}