body {
  background-image: url(../images/background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: auto;
}

table > thead > tr > th,
table > tbody > tr > td
{
  text-align : center;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

a:hover{
  cursor: pointer;
}

/*md-content {
  margin-bottom: 50px;
}*/

/* Font color white */
.md-button.md-raised.md-primary > span,
.md-button.md-raised.md-primary,
md-toolbar .md-toolbar-tools h2
{
  color : white;
}

/* Custom page header */
.header {
  min-height:64px;
}

/* Custom page footer */
.footer {
  background-color: white;
  -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.3);
}

.footer > .container{
  text-align: center;
  vertical-align: middle;
}

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:500px;
  height:350px;
}

.cropPicture {
  background : #E4E4E4;
  width : 50px;
  height : 50px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}

.progressBarClass {
  position: relative;
}
