<md-card>
  <div layout="column" role="main">
    <md-toolbar layout="row" layout-align="center center">
      <div class="md-toolbar-tools">
        <h2 class="md-flex">Outil de gestion budgetaire pour PME</h2>
      </div>
    </md-toolbar>
    <md-card-content>
	<p>Etudiants : </p>
	<ul>
		<li>Arix OWAYE</li>
		<li>Florian PUSSACQ</li>
		<li>Margaux PEDRON</li>
		<li>Sarra SARRAF</li>
		<li>Pierrick SAILLER</li>
		<li>Tavahiura SANG</li>
		<li>Yasmine SESSANGA</li>
	</ul>
	<p>M2 MIAGE : 2015/2016</p>
	<p>Groupe 6</p>
 </md-card-content>
  </div>
</md-card>