<md-card>
  <div layout="column" role="main">
    <md-toolbar layout="row" layout-align="center center">
      <div class="md-toolbar-tools">
        <h2 class="md-flex">A propos de POM - Outil de gestion budgetaire pour PME</h2>
      </div>
    </md-toolbar>
    <md-card-content>

      <md-tabs md-dynamic-height md-border-bottom>

        <md-tab>
          <md-tab-label>Informations</md-tab-label>
          <md-tab-body layout-padding>
            <br>
            
              <p>L'outil <b>POM (Plan, Organize & Manage)</b>, a été imaginé et créé dans le cadre du projet de développement de notre deuxième année de MASTER MIAGE à l'Université de Bordeaux. Cet outil est destiné aux PME ayant besoin de suivre au niveau physique et financier l'avancement de leurs projets informatiques.</p>

              <p>Cet outil permet d'analyser de façon précise le déroulement de chaque projet grâce à des graphes. Ainsi, le but est de pouvoir améliorer la prise de décision et le pilotage des projets à venir. </p>
              <br>

              <p>Vous pouvez l'installer en récupérant le projet ici :   	<a href="https://github.com/florian2412/POM"><i class="fa fa-github fa-2x" aria-hidden="true"></i> Projet POM</a></p>
          </md-tab-body>
        </md-tab>
        <md-tab>
          <md-tab-label>Contacts</md-tab-label>
          <md-tab-body>
            <br>
            <div class="row">
              <div class="col-sm-4">
                <div class="panel">
                  <div class="panel-body p-t-10">
                    <div class="media-main">
                      <a class="pull-left" href="#">
                        <img class="thumb-lg img-circle bx-s" src="http://bootdey.com/img/Content/user_1.jpg" alt="">
                      </a>
                      <div class="info">
                        <h4>Arix OWAYE</h4>
                        <p class="text-muted">Développeur</p>
                        <p class="text-muted">arix.owaye@mail.com</p>
                        <p class="text-muted">06 23 82 78 11</p>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <ul class="social-links list-inline p-b-10">
                      <li>
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                      </li>
                      <li>
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                      </li>
                      <li>
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>


              <div class="col-sm-4">
                <div class="panel">
                  <div class="panel-body p-t-10">
                    <div class="media-main">
                      <a class="pull-left" href="#">
                        <img class="thumb-lg img-circle bx-s" src="http://bootdey.com/img/Content/user_2.jpg" alt="">
                      </a>
                      <div class="info">
                        <h4>Florian PUSSACQ</h4>
                        <p class="text-muted">Développeur</p>
                        <p class="text-muted">florian.pussacq@mail.com</p>
                        <p class="text-muted">06 23 99 10 19</p>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <ul class="social-links list-inline p-b-10">
                      <li>
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                      </li>
                      <li>
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                      </li>
                      <li>
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>


              <div class="col-sm-4">
                <div class="panel">
                  <div class="panel-body p-t-10">
                    <div class="media-main">
                      <a class="pull-left" href="#">
                        <img class="thumb-lg img-circle bx-s" src="http://bootdey.com/img/Content/user_3.jpg" alt="">
                      </a>
                      <div class="info">
                        <h4>Margaux PEDRON</h4>
                        <p class="text-muted">Testeur</p>
                        <p class="text-muted">margaux.pedron@mail.com</p>
                        <p class="text-muted">07 56 21 33 12</p>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <ul class="social-links list-inline p-b-10">
                      <li>
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                      </li>
                      <li>
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                      </li>
                      <li>
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>


              <div class="col-sm-4">
                <div class="panel">
                  <div class="panel-body p-t-10">
                    <div class="media-main">
                      <a class="pull-left" href="#">
                        <img class="thumb-lg img-circle bx-s" src="http://bootdey.com/img/Content/user_1.jpg" alt="">
                      </a>
                      <div class="info">
                        <h4>Sarra SARRAF</h4>
                        <p class="text-muted">Développeur - Testeur</p>
                        <p class="text-muted">sarra.sarraf@mail.com</p>
                        <p class="text-muted">07 13 90 43 32</p>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <ul class="social-links list-inline p-b-10">
                      <li>
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                      </li>
                      <li>
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                      </li>
                      <li>
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>


              <div class="col-sm-4">
                <div class="panel">
                  <div class="panel-body p-t-10">
                    <div class="media-main">
                      <a class="pull-left" href="#">
                        <img class="thumb-lg img-circle bx-s" src="http://bootdey.com/img/Content/user_2.jpg" alt="">
                      </a>
                      <div class="info">
                        <h4>Pierrick SAILLER</h4>
                        <p class="text-muted">Développeur - Designer</p>
                        <p class="text-muted">pierrick.sailler@mail.com</p>
                        <p class="text-muted">06 11 43 78 23</p>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <ul class="social-links list-inline p-b-10">
                      <li>
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                      </li>
                      <li>
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                      </li>
                      <li>
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>


              <div class="col-sm-4">
                <div class="panel">
                  <div class="panel-body p-t-10">
                    <div class="media-main">
                      <a class="pull-left" href="#">
                        <img class="thumb-lg img-circle bx-s" src="http://bootdey.com/img/Content/user_3.jpg" alt="">
                      </a>
                      <div class="info">
                        <h4>Tavahiura SANG</h4>
                        <p class="text-muted">Développeur</p>
                        <p class="text-muted">tavahiura.sang@mail.com</p>
                        <p class="text-muted">06 11 62 31 16</p>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <ul class="social-links list-inline p-b-10">
                      <li>
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                      </li>
                      <li>
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                      </li>
                      <li>
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="panel">
                  <div class="panel-body p-t-10">
                    <div class="media-main">
                      <a class="pull-left" href="#">
                        <img class="thumb-lg img-circle bx-s" src="http://bootdey.com/img/Content/user_3.jpg" alt="">
                      </a>
                      <div class="info">
                        <h4>Yasmine SESANGA</h4>
                        <p class="text-muted">Porteur d'idée</p>
                        <p class="text-muted">yasmine.sesanga@mail.com</p>
                        <p class="text-muted">06 09 54 11 32</p>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <ul class="social-links list-inline p-b-10">
                      <li>
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                      </li>
                      <li>
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                      </li>
                      <li>
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
          </md-tab-body>
        </md-tab>
      </md-tabs>

    </md-card-content>
  </div>
</md-card>

<br>
<br>
