<md-card>
  <div layout="column" role="main">
    <md-toolbar layout="row" layout-align="center center">
      <div class="md-toolbar-tools">
        <h2 class="md-flex">Mon compte</h2>
      </div>
    </md-toolbar>
    <md-card-content>
      <md-content flex layout layout-align="center">
        <div layout-gt-sm flex flex-get-sm="80" flex-gt-md="100">
          <paper flex flex-gt-sm="20">
            <p><img style="width:100px" src="http://takeyourchance.fr/img/Icon-user.png"/></p>
            <p >Bonjour <strong>{{user.nom}} {{user.prenom}}</strong></p>
            <p><strong>{{user.fonction}}</strong></p>
            <p><strong>{{user.role}}</strong></p>
            <p><strong>{{user.email}}</strong></p>
            <md-button ng-click="showUpdatePassword($event)">Changer de mot de passe</md-button>
          </paper>
          <paper flex>
            <p>Voici l'état de vos projets : </p>
            <div id="piechart" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
          </paper>
        </div>
      </md-content>
      <div layout="row" layout-align="center">
        <md-button nra-auth="['admin', 'manager', 'collaborateur']" class="md-raised md-primary" >Sauvegarder</md-button>
      </div>
    </md-card-content>
  </div>
</md-card>
