<md-card>
  <div layout="column" role="main">
    <md-toolbar layout="row" layout-align="center center">
      <div class="md-toolbar-tools">
        <h2 class="md-flex">Mon compte</h2>
      </div>
    </md-toolbar>
    <md-card-content>
      <p>Bonjour <strong>{{user.prenom}}</strong>,<br>Voici vos statistiques : </p>
        <canvas id="radar" class="chart chart-radar" chart-data="data"
                chart-labels="labels" chart-legend="true" chart-series="series"
                chart-click="onClick" >
        </canvas>
    </md-card-content>
  </div>
</md-card>
