<div class="container" ng-controller="LoginCtrl" >
	<!-- <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-body">
					<form ng-submit="authenticate()" >
						<fieldset>
							<div class="form-group">
								<input class="form-control" placeholder="Pseudo" name="pseudo" type="text" ng-model="pseudo">
							</div>
							<div class="form-group">
								<input class="form-control" placeholder="Mot de passe" name="mot_de_passe" ng-model="mot_de_passe" type="password" value="">
							</div>
							<input class="btn btn-md btn-success btn-block" type="submit" value="Se connecter">
						</br>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
	</div> -->
	<form ng-submit="authenticate()" name="loginForm" >
	<div layout="column" flex id="content" role="main">
		<md-content layout="vertical" flex id="content">
			<div layout="row" layout-align="center center" layout-fill>
					<md-content>
						<md-input-container class="md-icon-float md-block">
							<label>Pseudo</label>
							<md-icon><span class="fa fa-user fa-2x"></span></md-icon>
							<input type="text" ng-model="pseudo" name="pseudo" required>
							<div ng-messages="loginForm.pseudo.$error">
          						<div ng-message="required">Pseudo obligatoire</div>
        					</div>
						</md-input-container>
						<md-input-container class="md-icon-float md-block">
							<label>Mot de passe</label>
							<md-icon><span class="fa fa-lock fa-2x"></span></md-icon>
							<input ng-model="mot_de_passe" name="mot_de_passe" type="password" required>
							<div ng-messages="loginForm.mot_de_passe.$error">
          						<div ng-message="required">Mot de passe obligatoire</div>
        					</div>
						</md-input-container>
						<md-input-container layout="row" layout-align="center center">
							<md-button class="md-raised md-primary" type="submit">Se connecter</md-button>
						</md-input-container>
					</md-content>
			</div>
		</md-content>
	</div>
</form>
</div>
