<div class="container" ng-controller="LoginCtrl">
    <div class="row">
    	<div class="col-md-8 col-md-offset-2">
    		<div class="panel panel-default">
			  	<div class="panel-body">
			    	<form accept-charset="UTF-8" role="form">
                    <fieldset>
			    	  	<div class="form-group">
			    		    <input class="form-control" placeholder="Pseudo" name="pseudo" type="text">
			    		</div>
			    		<div class="form-group">
			    			<input class="form-control" placeholder="Mot de passe" name="motDePasse" type="password" value="">
			    		</div>
			    		<!--<div class="checkbox">
			    	    	<label>
			    	    		<input name="resterConnecte" type="checkbox" value="Remember"> Rester connecté
			    	    	</label>
			    	    </div>-->
			    		<input class="btn btn-md btn-success btn-block" type="submit" value="Se connecter">
			    		</br>
			    		<a>Mot de passe oublié ?</a>
			    	</fieldset>
			      	</form>
			    </div>
			</div>
		</div>
	</div>
</div>