<div class="container" ng-controller="LoginCtrl" >
    <div class="row">
    	<div class="col-md-8 col-md-offset-2">
    		<div class="panel panel-default">
			  	<div class="panel-body">
			    	<form ng-submit="authenticate()" >
	                    <fieldset>
				    	  	<div class="form-group">
				    		    <input class="form-control" placeholder="Pseudo" name="pseudo" type="text" ng-model="pseudo">
				    		</div>
				    		<div class="form-group">
				    			<input class="form-control" placeholder="Mot de passe" name="mot_de_passe" ng-model="mot_de_passe" type="password" value="">
				    		</div>
				    		<input class="btn btn-md btn-success btn-block" type="submit" value="Se connecter">
				    		</br>
				    		<a>Mot de passe oublié ?</a>
				    	</fieldset>
			      	</form>
			    </div>
			</div>
		</div>
	</div>
</div>