<div ng-cloak>
  <md-content class="md-whiteframe-z2 move-up">
    <md-tabs md-dynamic-height md-border-bottom>

      <md-tab>
        <md-tab-label>Dashboard  <span class="badge" style="background-color:red">{{mainVm.allTasks.length}}</span></md-tab-label>
        <md-tab-body>
          <md-content layout-padding>

            <md-grid-list
              md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
              md-row-height-gt-md="1:1" md-row-height="2:2"
              md-gutter="12px" md-gutter-gt-sm="30px" >

              <md-grid-tile md-whiteframe="2" class="red-tile tile-effect" ng-click="mainVm.showTasks(mainVm.urgentTasks)">
                <h2 class="white-text tile-content"> {{mainVm.urgentTasks.length}} </h2>
                <md-grid-tile-footer>
                  <h3 class="white-text">Tâches prioritaires</h3>
                </md-grid-tile-footer>
              </md-grid-tile>

              <md-grid-tile md-whiteframe="2" class="blue-tile tile-effect"  ng-click="mainVm.showTasks(mainVm.upcomingTasks)">
                <h2 class="white-text tile-content"> {{mainVm.upcomingTasks.length}} </h2>
                <md-grid-tile-footer>
                  <h3 class="white-text">Tâches à venir</h3>
                </md-grid-tile-footer>
              </md-grid-tile>

              <md-grid-tile md-whiteframe="2" class="orange-tile tile-effect" ng-click="mainVm.showTasks(mainVm.newTasks)">
                <h2 class="white-text tile-content"> {{mainVm.newTasks.length}} </h2>
                <md-grid-tile-footer>
                  <h3 class="white-text">Nouvelles tâches</h3>
                </md-grid-tile-footer>
              </md-grid-tile>

              <md-grid-tile md-whiteframe="2" class="green-tile tile-effect" ng-click="mainVm.showTasks(mainVm.completedTasks)">
                <h2 class="white-text tile-content"> {{mainVm.completedTasks.length}} </h2>
                <md-grid-tile-footer>
                  <h3 class="white-text">Tâches terminées</h3>
                </md-grid-tile-footer>
              </md-grid-tile>

              <md-grid-tile md-whiteframe="2" class="gray-tile tile-effect" ng-click="mainVm.showTasks(mainVm.canceledTasks)">
                <h2 class="tile-content"> {{mainVm.canceledTasks.length}} </h2>
                <md-grid-tile-footer>
                  <h3 class="white-text">Tâches annulées</h3>
                </md-grid-tile-footer>
              </md-grid-tile>

              <md-grid-tile md-whiteframe="2" class="tile-effect" ng-click="mainVm.showTasks(mainVm.allTasks)">
                <h2 class="tile-content"> {{mainVm.allTasks.length}} </h2>
                <md-grid-tile-footer>
                  <h3 class="white-text">Toutes mes tâches</h3>
                </md-grid-tile-footer>
              </md-grid-tile>

            </md-grid-list>
            <br>

            <div layout flex layout-align="center" ng-show="mainVm.tableParams.data.length > 0">
              <div md-whiteframe="2" layout-padding>

                <md-toolbar layout="row" layout-align="center center" style="background-color:whitesmoke;">
                  <span flex></span>
                  <div style="padding-top:12px;">
                    <md-checkbox ng-model="mainVm.isFiltersEnabled">
                      Filtre
                    </md-checkbox>
                  </div>
                </md-toolbar>

                <table ng-table="mainVm.tableParams" show-filter="mainVm.isFiltersEnabled" class="table table-striped table-hover">
                  <tr ng-repeat="row in $data" ng-dblClick="mainVm.redirectTasksDetails($event, row._id, row.projet_id)">
                    <td title="'Code'" filter="{code: 'text'}" sortable="'code'"><a ui-sref="projects.details.tasks.details({idtask:row._id, id: row.projet_id})"> <b>{{ row.code }}</b> </a></td>
                    <td title="'Libelle'" filter="{libelle: 'text'}" sortable="'libelle'"><a ui-sref="projects.details.tasks.details({idtask:row._id, id: row.projet_id})"> <b>{{ row.libelle }}</b> </a></td>

                    <td title="'Date début'" filter="{date_debut: 'text'}" sortable="'date_debut'">{{row.date_debut | date:"dd/MM/yyyy" }}</td>

                    <td title="'Statut'" sortable="'statut.statut'"><span class="{{row.statut.class}}" style="color:{{row.statut.color}};font-size:1.5em;"><md-tooltip md-direction="left">{{row.statut.statut}}</md-tooltip></span></td>

                    <td title="'Catégorie'" filter="{categorie: 'text'}" sortable="'categorie.name'"><kbd style="background-color:{{row.categorie.color}}">{{ row.categorie.name }}</kbd></td>

                    <td title="'Dernière modification'" filter="{date_derniere_modif: 'text'}" sortable="'date_derniere_modif'" >{{ row.date_derniere_modif | date:"dd/MM/yyyy 'à' HH:mm:ss" }}</td>

                  </tr>
                </table>
              </div>
            </div>

          </md-content>
        </md-tab-body>
      </md-tab>

      <md-tab>
        <md-tab-label>Mes projets  <span class="badge" style="background-color:red">{{mainVm.numberProjects}}</span></md-tab-label>
        <md-tab-body>
          <md-content class="md-padding" layout>

            <div layout flex layout-align="center">
              <div md-whiteframe="2" layout-padding>

                <md-toolbar layout="row" layout-align="center center" style="background-color:whitesmoke; ">
                  <span flex></span>
                  <div style="padding-top:12px;color:black">
                    <md-checkbox ng-model="mainVm.isFiltersEnabled">
                      Filtre
                    </md-checkbox>
                  </div>
                </md-toolbar>

                <table ng-table="mainVm.tableProjectsParams" show-filter="mainVm.isFiltersEnabled" class="table table-striped table-hover">
                  <tr ng-repeat="row in $data" ng-dblClick="mainVm.redirectProjectsDetails($event, row._id)">

                    <td class="vert-align" title="'Code'" filter="{code: 'text'}" sortable="'code'"><a ui-sref="projects.details.info({id:row._id})"> <b>{{ row.code }}</b> </a></td>
                    <td class="vert-align" title="'Nom'" filter="{nom: 'text'}" sortable="'nom'"><a ui-sref="projects.details.info({id:row._id})"> <b>{{ row.nom }}</b> </a></td>

                    <td class="vert-align" title="'Statut'" sortable="'statut.statut'"> <span class="{{row.statut.class}}" style="color:{{row.statut.color}};font-size:1.5em;"><md-tooltip md-direction="left">{{row.statut.statut}}</md-tooltip></span></td>

                    <!-- Toutes les informations de durée et de budget que l'on connait -->
                    <td class="vert-align" title="'Nb collaborateurs affecté'" sortable="'realDuration'"><b>{{row.collaborateurs.length}}</b></td>
                    <td class="vert-align" title="'Durée théorique totale'" sortable="'duration'"><b>{{row.duration}}</b> jours</td>
                    <td class="vert-align" title="'Durée théorique restante'" sortable="'leftDuration'"><b>{{row.leftDuration}}</b> jours</td>

                    <td class="vert-align" title="'Durée théorique passée'" sortable="'passedDuration'"><b>{{row.passedDuration}}</b> jours</td>

                    <td class="vert-align" title="'Durée réelle totale'" sortable="'realDuration'"><b>{{row.realDuration}}</b> jours</td>

                    <td class="vert-align" title="'Temps utilisé'">
                      <div ng-show="row.timeAdvancement <= 100">
                        <label>{{ row.timeAdvancement | number:0 }}%</label>
                        <div class="progress">
                          <div class="progress-bar" style="width: {{ row.timeAdvancement | number:0 }}%;"></div>
                        </div>
                      </div>
                      <div ng-show="row.timeAdvancement > 100">
                        <label style="color:red">{{ row.timeAdvancement | number:0 }}%</label>
                        <div class="progress">
                          <div class="progress-bar progress-bar-danger" style="width: {{ row.timeAdvancement | number:0 }}%;"></div>
                        </div>
                      </div>
                    </td>

                    <td class="vert-align" title="'Budget utilisé'">
                      <div ng-show="row.advancement <= 100">
                        <label>{{ row.advancement | number:0 }}%</label>
                        <div class="progress">
                          <div class="progress-bar" style="width: {{ row.advancement | number:0 }}%;"></div>
                        </div>
                      </div>
                      <div ng-show="row.advancement > 100">
                        <label style="color:red">{{ row.advancement | number:0 }}%</label>
                        <div class="progress">
                          <div class="progress-bar progress-bar-danger" style="width: {{ row.advancement | number:0 }}%;"></div>
                        </div>
                      </div>
                    </td>

                  </tr>
                </table>
              </div>
            </div>

          </md-content>
        </md-tab-body>
      </md-tab>

      <md-tab>
        <md-tab-label>Mes tâches  <span class="badge" style="background-color:red">{{mainVm.collaboratorTasks.length}}</span></md-tab-label>
        <md-tab-body>
          <md-content class="md-padding" layout >

            <div layout flex layout-align="center">
              <div md-whiteframe="2" layout-padding>

                <md-toolbar layout="row" layout-align="center center" style="background-color:whitesmoke; ">
                    <span flex></span>
                    <div style="padding-top:12px;color:black">
                      <md-checkbox ng-model="mainVm.isFiltersEnabled">
                        Filtre
                      </md-checkbox>
                    </div>
                </md-toolbar>

                <table ng-table="mainVm.tableTasksParams" show-filter="mainVm.isFiltersEnabled" class="table table-striped table-hover">
                  <tr ng-repeat="row in $data" ng-dblClick="mainVm.redirectTasksDetails(row._id,row.projet_id)">

                    <td class="vert-align" title="'Code'" filter="{code: 'text'}" sortable="'code'"><a ui-sref="projects.details.tasks.details({idtask:row._id, id: row.projet_id})"> <b>{{ row.code }}</b> </a></td>
                    <td class="vert-align" title="'Nom'" filter="{nom: 'text'}" sortable="'nom'"><a ui-sref="projects.details.tasks.details({idtask:row._id, id: row.projet_id})"> <b>{{ row.libelle }}</b> </a></td>
                    <td class="vert-align" title="'Statut'" sortable="'statut.statut'"> <span class="{{row.statut.class}}" style="color:{{row.statut.color}};font-size:1.5em;"><md-tooltip md-direction="left">{{row.statut.statut}}</md-tooltip></span></td>

                    <td class="vert-align"  title="'Nb collaborateurs affecté'" sortable="'realDuration'"><b>{{row.collaborateurs.length}}</b></td>
                    <td class="vert-align" title="'Durée théorique totale'" sortable="'duration'"><b>{{row.duration}}</b> jours</td>
                    <td class="vert-align" title="'Durée théorique restante'" sortable="'leftDuration'"><b>{{row.leftDuration}}</b> jours</td>

                    <td class="vert-align" title="'Durée théorique passée'" sortable="'passedDuration'"><b>{{row.passedDuration}}</b> jours</td>

                    <td class="vert-align" title="'Durée réelle totale'" sortable="'realDuration'"><b>{{row.realDuration}}</b> jours</td>

                    <td class="vert-align" title="'Temps utilisé'" >
                      <div ng-show="row.timeAdvancement <= 100">
                        <label>{{ row.timeAdvancement | number:0 }}%</label>
                        <div class="progress">
                          <div class="progress-bar" style="width: {{ row.timeAdvancement | number:0 }}%;"></div>
                        </div>
                      </div>
                      <div ng-show="row.timeAdvancement > 100">
                        <label style="color:red">{{ row.timeAdvancement | number:0 }}%</label>
                        <div class="progress">
                          <div class="progress-bar progress-bar-danger" style="width: {{ row.timeAdvancement | number:0 }}%;"></div>
                        </div>
                      </div>
                    </td>

                    <!--
                    <td class="vert-align" title="'Budget utilisé'">
                      <div ng-show="row.advancement <= 100">
                        <label>{{ row.advancement | number:0 }}%</label>
                        <div class="progress">
                          <div class="progress-bar" style="width: {{ row.advancement | number:0 }}%;"></div>
                        </div>
                      </div>

                      <div ng-show="row.advancement > 100">
                        <label style="color:red">{{ row.advancement | number:0 }}%</label>
                        <div class="progress">
                          <div class="progress-bar  progress-bar-danger" style="width: {{ row.advancement | number:0 }}%;"></div>
                        </div>
                      </div>
                    </td>
-->

                  </tr>
                </table>
              </div>
            </div>

          </md-content>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
