<section ng-controller="ProjectsCtrl">

<table class="table table-stripped table-hover">
	<thead>
      <tr>
        <th>Nom</th>
        <th>Chef de projet</th>
        <th>Date début</th>
        <th>Date fin</th>
        <th>Statut</th>
        <th>Collaborateurs</th>
        <th>Date modification</th>
      </tr>
    </thead>
    <tbody>
	    <tr ng-repeat="project in projects">
			<td>{{ project.nom }}</td>
			<td>{{ project.chef_projet }}</td>
			<td>{{ project.date_debut }}</td>
			<td>{{ project.date_fin }}</td>
			<td>{{ project.statut }}</td>
			<td>{{ project.collaborateurs }}</td>
			<td>{{ project.infos_techniques.modification }}</td>
		</tr>
	</tbody>
</table>




    <!--<h3>Date début premier projet {{ date }}</h3>-->

</section>
