<section ng-controller="ProjectsCtrl">
<table class="table table-striped table-hover">
	<thead>
      <tr>
        <th>Nom</th>
        <th>Chef de projet</th>
        <th>Date début</th>
        <th>Statut</th>
        <th>Collaborateurs</th>
        <th>Date modification</th>
      </tr>
    </thead>
    <tbody>
	    <tr ng-repeat="project in projects" ng-switch on="project.statut">
			<!--<td><a ng-click="getProjectById(project._id)">{{ project.nom }}</a></td>-->
      <td><a ng-href="#/projects/{{project._id}}"> {{ project.nom }} </a></td>
			<td> {{ project.chef_projet }} </td>
			<td>{{ project.date_debut | date:'dd/MM/yyyy' }}</td>
			<td ng-switch-when="En cours"><span class="glyphicon glyphicon-exclamation-sign" style="color: orange;font-size:1.5em;"></span></td>
			<td ng-switch-when="Terminé"><span class="glyphicon glyphicon-ok-circle" style="color:green;font-size:1.5em;"></span></td>
			<td ng-switch-when="Annulé"><span class="glyphicon glyphicon-remove-circle" style="color:red;font-size:1.5em;"></span></td>
			<td>{{ project.collaborateurs }}</td>
			<td>{{ project.infos_techniques.modification | date:'dd/MM/yyyy' }}</td>
      </tr>
	</tbody>
</table>

<div>
<p>Détail du projet</p>
	{{projectDetail._id}}
	</br>
	{{projectDetail.nom}}
</div>


  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Id</th>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Pseudo</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="collaborator in collaborators">
      <td>{{ collaborator._id }}</a></td>
      <td>{{ collaborator.prenom }}</td>
      <td>{{ collaborator.nom }}</td>
      <td>{{ collaborator.pseudo }}</td>
      <td>{{ collaborator.status }}</td>
    </tr>
    </tbody>
  </table>


<!--<i class="fa fa-car fa-5x"></i>-->
</section>
