<md-card>
  <md-toolbar layout="row" layout-align="center center">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Statistiques</h2>
    </div>
  </md-toolbar>
  <md-card-content>

    <div style="text-align: center">
      <div loading="loading"></div>
    </div>
  
    <div ng-cloak id="statisticsCard">
      <md-content>
        <md-tabs md-dynamic-height md-border-bottom>

          <md-tab>
            <md-tab-label>Projets</md-tab-label>
            <md-tab-body>
              <md-content layout-padding>
                <!-- Premier onglet -->
                <br><br>
                <h4 ng-show="statisticsVm.zeroProject">Vous n'avez aucun projet.</h4>

                  <div ng-show="!statisticsVm.zeroProject">

                    <div layout layout-align="center" layout-xs="column" >
                      <div flex="47" flex-xs="100">
                        <div md-whiteframe="1" id="piechart"></div>
                      </div>
                      <div flex="5"></div>
                      <div flex="47" flex-xs="100">
                        <div md-whiteframe="1" id="barchartstatus-projects"></div>
                      </div>
                    </div>

                    <br>
                    <hr>

                    <div layout layout-align="center" layout-xs="column">
                      <div flex>
                        <div  md-whiteframe="1" id="barchart-projects"></div>
                      </div>
                    </div>

                    <br>
                    <hr>

                    <div layout layout-align="center" layout-xs="column">
                      <div flex>
                        <div  md-whiteframe="1" id="barchartstatustasks-projects"></div>
                      </div>
                    </div>
                  </div>
    
              </md-content>
            </md-tab-body>
          </md-tab>


          <md-tab>
            <md-tab-label>Tâches</md-tab-label>
            <md-tab-body>
              <md-content layout-padding>
                <!-- Deuxième onglet -->

                  <div layout layout-align="center">
                    <div flex="40">
                      <md-input-container class="md-block">
                        <label>Choisir un projet</label>
                        <md-select ng-model="statisticsVm.project">
                          <md-option ng-repeat="project in statisticsVm.saveProjects" value="{{project}}">{{project.nom}}</md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                    <div flex="5"></div>
                    <div>
                      <md-button class="md-raised md-primary" type="submit" ng-click="statisticsVm.updateChartProject()">Valider</md-button>
                    </div>
                  </div>

                  

                  <div layout layout-align="center" layout-xs="column">
                    <div flex="47" flex-xs="100">
                      <div  md-whiteframe="1" id="piechart-project"></div>
                    </div>
                    <div flex="5"></div>
                    <div flex="47" flex-xs="100">
                      <div  md-whiteframe="1" id="piechart-project2"></div>
                    </div>
                  </div>

                  <hr>
                  <br>
                  
                  <div layout layout-align="center" layout-xs="column">
                    <div flex>
                      <div  md-whiteframe="1" id="piecharttaskscat-project"></div>
                    </div>
                  </div>

                  <hr>
                  <br>

                  <div layout layout-align="center" layout-xs="column">
                    <div flex>
                      <div md-whiteframe="1" id="barchart-project"></div>
                    </div>
                  </div>
                
              </md-content>
            </md-tab-body>
          </md-tab>


        </md-tabs>
      </md-content>
    </div>
  </md-card-content>
</md-card>

<br>
<br>
