<md-card>
  <div layout="column" role="main">
    <md-toolbar layout="row" layout-align="center center">
      <div class="md-toolbar-tools">
        <h2 class="md-flex">Liste des lignes budgétaires</h2>
      </div>
    </md-toolbar>

    <md-card-content>
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>Libellé</th>
          <th>Budget</th>
          <th>Description</th>
          <th>Progression</th>
          <th>Supprimer</th>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="budget in budgetsListVm.budgets">
          <td class="vert-align"><a> {{ budget.libelle }} </a></td>
          <td class="vert-align"> {{ budget.montant }} € </td>
          <td class="vert-align"> {{ budget.description }} </td>
          <td class="vert-align" ng-show="budget.percentage > 100"> 
            <label style="color:red">{{ budget.percentage | number:0 }}%</label>
            <div class="progress">
              <div class="progress-bar progress-bar-danger" style="width: {{ budget.percentage | number:0 }}%;"></div>
            </div>
          </td>
          <td class="vert-align" ng-show="budget.percentage <= 100"> 
            <label>{{ budget.percentage | number:0 }}%</label>
            <div class="progress">
              <div class="progress-bar" style="width: {{ budget.percentage | number:0 }}%;"></div>
            </div>
          </td>
          <td class="vert-align"><a ng-click="budgetsListVm.deleteBudget(budget._id)"><span class="fa fa-trash-o fa-lg" style="color: red;"></span> </a></td>
        </tr>
        </tbody>
      </table>


      <div layout="row" layout-align="center">
        <md-button class="md-raised md-primary" ui-sref=".create">Créer une nouvelle ligne budgétaire</md-button>
      </div>

      <br>

    </md-card-content>
  </div>
</md-card>
