<md-dialog ng-cloak style="min-width: 400px">
  <form>
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <h2>Mettre à jour le mot de passe</h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close" ng-click="cancel()">
          <md-tooltip>Fermer</md-tooltip>
          <md-icon class="md-default-theme" class="material-icons"><i class="material-icons" style="color:white">clear</i></i></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content flex>
      <div layout="row" layout-align="center">
        <div>
        <md-input-container class="md-block">
          <label>
            Mot de passe
          </label>
          <input type="password" name="pass" ng-model="usr.pass" required>
        </md-input-container>
        </div>
      </div>
      <div layout="row" layout-align="center">
        <div>
        <md-input-container class="md-block">
          <label>
          Confirmer:
          </label>
          <input type="password" name="confirm" ng-model="usr.confirm" required>
        </md-input-container>
          </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" md-whiteframe="4">
      <div layout layout-align="center" flex>
        <div>
        <md-input-container class="md-block">
          <md-button class="md-raised md-primary" type="submit" ng-click="updpass(usr)" id="submit">
            Valider
          </md-button>
        </md-input-container>
        </div>
      </div>
    </md-dialog-actions>
  </form>
</md-dialog>
