<md-dialog ng-cloak style="min-width: 400px">
  <form name="updatePasswordForm">
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <h2>Modification de votre mot de passe</h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close" ng-click="cancel()">
          <md-tooltip>Fermer</md-tooltip>
          <md-icon class="md-default-theme" class="material-icons"><i class="material-icons" style="color:white">clear</i></i></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content layout-padding>
      <div layout="column" flex>
        <div>
          <md-input-container class="md-block">
            <label>Nouveau mot de passe</label>
            <input ng-model="user.newPassword" type="password" minlength="6" maxlength="12" name="newPassword" required>
            <div ng-messages="updatePasswordForm.newPassword.$error">
              <div ng-message="required">Ce champ est obligatoire.</div>
              <div ng-message="minlength">Le mot de passe doit avoir au moins 6 caractères.</div>
              <div ng-message="maxlength">Le mot de passe doit avoir au maximum 12 caractères.</div>
            </div>
          </md-input-container>
        </div>

        <div>
          <md-input-container class="md-block">
            <label>Confirmation</label>
            <input ng-model="user.confirmedNewPassword" type="password" minlength="6" maxlength="12" name="confirmedNewPassword" match-password="newPassword" required>
            <div ng-messages="updatePasswordForm.confirmedNewPassword.$error">
              <div ng-message="required">Ce champ est obligatoire.</div>
              <div ng-message="minlength">Le mot de passe doit avoir au moins 6 caractères.</div>
              <div ng-message="maxlength">Le mot de passe doit avoir au maximum 12 caractères.</div>
            </div>
          </md-input-container>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" md-whiteframe="4">
      <div layout layout-align="center" flex>
        <div>
        <md-input-container class="md-block">
          <md-button class="md-raised md-primary" type="submit" ng-click="updatePassword(user)" ng-disabled="updatePasswordForm.$invalid" >
            Modifier
          </md-button>
        </md-input-container>
        </div>
      </div>
    </md-dialog-actions>
  </form>
</md-dialog>
