<h4>API - Budget</h4>
<br>

Utilisation de l'API pour les budgets :
<br><br>

<samp>GET : </samp><code>/budgets</code>
<br>
Récupère tous les budgets
<br><br>

<samp>GET : </samp><code>/budgets/{id}</code>
<br>
Récupère le budget avec l'identifiant : id
<br><br>

<samp>POST : </samp><code>/budgets</code>
<br>
<samp><b>Paramètre : </b>Modèle de donnée d'un Budget en JSON dans le <b>body</b> de la requête.</samp>
<br>
Insère un nouveau budget en base
<br><br>

<samp>DELETE : </samp><code>/budgets/{id}</code>
<br>
Supprime un budget en base en fonction de l'identifiant du budget : id
<br><br>

<b>Rappel d'utilisation : </b> <code>URL point d'entrée + URL méthode voulu</code>
<br>
<b>Exemple HTTP GET : </b><code>http://localhost:3000/budgets/</code>
