<h4>API - Paramètres</h4>
<br>

Utilisation de l'API pour les paramètres :
<br><br>

<code>http:localhost:3000/settings</code>
<br>
Récupère tous les paramètres
<br><br>

<code>http:localhost:3000/settings/roles</code>
<br>
Récupère tous les rôles
<br><br>

<code>http:localhost:3000/settings/fonctions</code>
<br>
Récupère toutes les fonctions
<br><br>

<code>http:localhost:3000/settings/statuts</code>
<br>
Récupère tous les statuts
<br><br>

<code>http:localhost:3000/settings/categories</code>
<br>
Récupère toutes les catégories de tâche
