<h4>API - Généralités</h4>
<br>

<b>API RESTFul</b>
<br><br>

<b>Définition REST</b>
<br>

Style d’architecture permettant de construire des applications orientées Web.
<br>

Ensemble de conventions et de bonnes pratiques à respecter.
<br>

L’architecture REST utilise les spécifications originelles du protocole HTTP.
<br>

<b>Note d'information : </b> Par soucis de simplification du projet, nous n'avons pas sécurisé l'API de POM par une authentification.
<br><br>

<b>Technologies : </b>
<ul>
  <li>
    Serveur : <b>NodeJS</b>
  </li>
  <li>
    Base de données : <b>MongoDB</b>
  </li>
</ul>


