<h4>Collaborateur - Généralités</h4>

Les collaborateurs n’ont pas accès à cet onglet, seuls l’administrateur et/ou les managers sont habilités à utiliser les fonctionnalités suivantes:
Création d’un collaborateur: 
Cliquez sur le bouton “ créer un nouveau collaborateur”
Remplir tous les champs.
Modification
Si besoin, il suffit de cliquer sur le nom ou le prénom du collaborateur dans le tableau récapitulatif afin de modifier ses données
Suppression
Cliquez sur l’icône de suppression sur la ligne du collaborateur correspondant

