<h4>Collaborateur - Généralités</h4>
<br>
Les collaborateurs n’ont pas accès à cet onglet, seuls l’administrateur et/ou les managers sont habilités à utiliser les fonctionnalités suivantes :
<br><br>

<b>Création d’un collaborateur : </b>
<br>
Cliquez sur le bouton “Créer un nouveau collaborateur”.
<br>
Remplir tous les champs.
<br><br>

<b>Modification : </b>
<br>
Si besoin, il suffit de cliquer sur le nom ou le prénom du collaborateur dans le tableau récapitulatif afin de modifier ses données.
<br><br>

<b>Suppression : </b>
<br>
Cliquez sur l’icône de suppression sur la ligne du collaborateur correspondant.

