<h4>Compte - Connexion</h4>
Elle se fait grâce au couple d’identifiant (pseudo,  mot de passe).
Pseudo : Fourni lors de la création du collaborateur par l’administrateur ou le manager. De préférence, il sera composé de la première lettre du prénom suivi du nom complet.
 Exemple : “Margaux Pédron” aura pour pseudonyme “mpedron”. 

Mot de passe: Pour une première connexion, le collaborateur utilisera le mot de passe fourni lors de la création de son profil. Il pourra ensuite le modifier afin de garantir la sécurité de son profil.

Le mot de passe oublié: Il est possible de récupérer un nouveau mot de passe grâce à l’adresse mail renseignée dans le profil. Si vous ne recevez pas le mail contenant votre nouveau mot de passe, contactez votre manager.
