<h4>Compte - Généralités</h4>
<br>
Il existe trois profils utilisateurs pour l’outil POM :
<br><br>
<b>Administrateur</b> :  Il a en charge l’administration de l’outil. Ainsi, il a accès  à toutes les fonctionnalités et données de l’outil.
<br><br>
<b>Manager </b>: C’est un utilisateur qui a au moins un collaborateur sous sa hiérarchie. Ainsi il a accès aux projets qu’il gère et à l’ensemble des collaborateurs.
<br><br>
<b>Collaborateur </b>: Il a un accès restreint à l’outil. Il ne peut que visualiser l’avancement des projets auxquels il participe. Il peut aussi faire une mise à jour du statut des tâches qui lui sont assignées.
