<h4>Compte - Généralités</h4>
Il existe trois profils utilisateurs pour l’outil POM
Administrateur:  Il a en charge l’administration de l’outil. Ainsi, il a accès  à toutes les fonctionnalités et données de l’outil.

Manager: C’est un utilisateur qui a au moins un collaborateur sous sa hiérarchie. Ainsi il a accès au projet qu’il gère et à l’ensemble de collaborateur 

Collaborateur: Il a un accès restreint à l’outil. Il ne peut que visualiser l’avancement des projets auxquels il participe, il peut aussi faire une mise à jour du statut des tâches qui lui sont assignées.
