<h4>Projet - Généralités</h4>

Sous cet onglet, les collaborateurs peuvent juste visualiser la liste des projets, seuls l’administrateur et/ou les managers sont habilités à utiliser les fonctionnalités suivantes:
Création d’un projet : 
Cliquez sur le bouton “ créer un nouveau projet”
Remplir les champs obligatoires et les bonnes dates de début et de fin théorique du projet.
Cliquez  sur “choisir les collaborateurs” pour affecter les intervenants sur le  projet.
Attention : Une fois le projet créé, la ligne budgétaire ne peut plus être modifiée

Modification
Si besoin, il suffit de cliquer sur le nom du projet à modifier dans le tableau récapitulatif.
Suppression
Cliquez sur l’icône de suppression sur la ligne du projet correspondant
