<h4>Projet - Généralités</h4>

<br>

Sous cet onglet, les collaborateurs peuvent juste visualiser la liste des projets, seuls l’administrateur et/ou les managers sont habilités à utiliser les fonctionnalités suivantes :

<br><br>

<b>Création d’un projet : </b>

<br>

Cliquez sur le bouton “Créer un nouveau projet”.

<br>

Remplir les champs obligatoires et les bonnes dates de début et de fin théorique du projet.

<br>

Cliquez  sur “Choisir les collaborateurs” pour affecter les intervenants sur le  projet.

<br>

<b>Attention </b>: Une fois le projet créé, la ligne budgétaire ne peut plus être modifiée.

<br><br>

<b>Modification : </b>

<br>

Si besoin, il suffit de cliquer sur le nom du projet à modifier dans le tableau récapitulatif.

<br><br>

<b>Suppression : </b>

<br>

Cliquez sur l’icône de suppression sur la ligne du projet correspondant.
