<h4>Projet - Tâches</h4>
<br>

En cliquant sur le nom ou le code d’un projet, l’écran récapitulant les détails du projet apparaît ainsi qu’une barre de menu permettant la gestion des tâches.
<br>

<b>NB :</b> Les tâches sont classées par catégorie. Lors de la création, mettre la catégorie correspondante car cette dernière ne peut être modifiée une fois créée.
<br><br>

<b>Création d’une tâche : </b>
<br>
Sur cette barre de menu, cliquez sur “Créer une tâche” puis remplissez les champs obligatoires.
<br>
<b>Attention : </b> Entrer les bonnes dates car celles-ci ont une valeur par défaut.
<br>
Cliquez sur “Choisir les collaborateurs” pour assigner la tâche à un ou plusieurs intervenants.
<br><br>

<b>Modification d’une tâche : </b>
<br>
Sur la même barre de menu, cliquez sur “Liste des tâches” pour accéder à toutes les tâches du projet.
<br>
Cliquez ensuite sur le nom d’une tâche afin de modifier les champs désirés.
<br><br>


<b>Suppression : </b>
<br>
Sur la même barre de menu, cliquez sur “Liste des tâches” pour accéder à toutes les tâches du projet.
<br>
Cliquez ensuite sur l’icône de suppression sur la ligne de la tâche correspondante.
