<h4>Projet - Tâches</h4>

En cliquant sur le nom ou le code d’un projet, l’écran récapitulant les détails du projet apparaît ainsi qu’une barre de menu permettant la gestion des tâches.
NB: Les tâches sont classées par catégorie. Lors de la création, mettre la catégorie correspondante car cette dernière ne peut être modifiée une fois créée.
Création d’une tâche
Sur cette barre de menu, Cliquez sur “créer une tâche” puis remplissez les champs obligatoires”. Attention à rentrer les bonnes dates car celles-ci ont une valeur par défaut. Cliquez sur “choisir les collaborateurs” pour assigner la tâche à un ou plusieurs intervenants. 
Modification d’une tâche
Sur la même barre de menu, cliquez sur “liste des tâches” pour accéder à toutes les tâches du projet.  Cliquez sur le nom d’une tâche afin de modifier les champs désirés. 
Suppression
Sur la même barre de menu, cliquez sur “liste des tâches” pour accéder à toutes les tâches du projet, cliquez sur l’icône de suppression sur la ligne de la tâche correspondante
