<h4>Statistiques - Généralités</h4>
<br>

Avec <b>POM</b>, vous pouvez visualiser les graphiques statistiques pour l’analyse des données sur les projets ainsi que plusieurs indicateurs comme le dashboard en page d'acceuil.
<br><br>

<b>Page d’accueil : </b>
<br><br>

<b>Dashboard : </b>
Les tuiles permettent d’afficher le nombre de tâches prioritaires, les "à venir", les terminées, les nouvelles tâches et celles annulées des projets qui sont "En cours".
<br><br>

<b>Tous mes projets : </b>
Récapitulatif de tous vos projets avec des indications d'avancement dans le temps et budgétaire.
<br><br>

<b>Toutes mes tâches : </b>
Récapitulatif de toutes vos tâches avec des indications d'avancement dans le temps et budgétaire.
<br><br>

