<h4>Statistiques - Généralités</h4>

Avec l’outil, on peut visualiser les graphes statistiques pour l’analyse des données sur les projets.

Sur la page d’accueil
Le dashboard : Les tuiles permettent d’afficher le nombre de taches à venir, les closes, celles qui sont prioritaires et celles à venir.

Sur l’onglet Statistiques
le premier graphique démontre la répartition des projets en fonction de leur statuts.
le deuxième affiche une comparaison entre la durée réelle et théorique des projets au statut terminé.
Choisissez un projet depuis la liste déroulante puis cliquez sur “voir les statistiques” afin de visualiser les différentes graphiques d’analyse du projet sélectionné
on obtient les graphiques statistiques : 
répartition des tâches en fonction de leur coût par rapport à la ligne budgétaire attribuée et un autre démontrant le montant non utilisé du budget total.
graphe démontrant la durée théorique et réelle des tâches au statut terminé permettant de comparer les deux. 
