<h4>Statistiques - Onglet Tâches</h4>
<br>

L'outil permet d'afficher plusieurs graphes modélisant l'état d'un projet ainsi que l'état de ses tâches. On peut ainsi suivre l'avancement de chaque tâches d'un projet au niveau financier et physique.
<br><br>

Choisissez un projet depuis la liste déroulante puis cliquez sur “Voir les statistiques” afin de visualiser les différents graphiques d’analyse du projet sélectionné.
<br><br>

On obtient les <b>graphiques statistiques</b> suivant :
<br>

1. Répartition des tâches en fonction de leur coût par rapport à la ligne budgétaire attribuée.
<br>

2. Idem que précedemment mais avec le montant non utilisé du budget total.
<br>

3. Graphe montrant la durée théorique et réelle des tâches au statut terminé permettant de comparer les deux durées.
