
<md-card>
  <div layout="column" role="main">
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <h2 class="md-flex">Liste des collaborateurs</h2>
      </div>
    </md-toolbar>
    <md-card-content>
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>Prénom / Nom</th>
          <th>Pseudo</th>
          <th>Manager</th>
          <th>Rôle</th>
          <th>Supprimer ?</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="collaborator in vm.collaborators">
          <td><a ui-sref=".details({id:collaborator._id})"> {{ collaborator.prenom }} {{ collaborator.nom }} </a></td>

          <td>{{ collaborator.pseudo }}</td>
          <td><a ui-sref=".details({id:collaborator.manager})"> {{ collaborator.manager }} </a></td>
          <td>{{ collaborator.role }}</td>
          <td><a ng-click="vm.deleteCollaborator(collaborator._id)"><span class="fa fa-trash-o fa-lg" style="color: red;"></span> </a></td>
        </tr>
        </tbody>
      </table>

      <div layout="row" layout-align="center">
        <md-button nra-auth="['admin', 'manager']" class="md-raised md-primary" type="submit" ui-sref=".create">Créer un nouveau collaborateur</md-button>
      </div>

      <br>
    </md-card-content>
  </div>

</md-card>
