<md-card>

  <md-toolbar layout="row">
  <div class="md-toolbar-tools">
    <h2 class="md-flex">Création d'un nouveau collaborateur</h2>
  </div>
  </md-toolbar>

  <md-card-content flex>

    <form class="form-horizontal" name="createCollaboratorForm">

      <div layout="row" layout-align="center" layout-xs="column">

        <md-input-container class="md-block" flex="35" flex-xs="100">
          <label>Nom</label>
          <input maxlength="20" ng-model="createCollaboratorsVm.collaborator.n_nom" name="n_nom" required>
          <div ng-messages="createCollaboratorForm.n_nom.$error">
            <div ng-message="required">Ce champ est obligatoire.</div>
            <div ng-message="md-maxlength">Le nom ne doit pas dépasser 20 caractères.</div>
          </div>
        </md-input-container>

        <div flex="5" hide-xs="" hide-sm=""></div>

        <md-input-container class="md-block" flex="35" flex-xs="100">
          <label>Prénom</label>
          <input maxlength="20" ng-model="createCollaboratorsVm.collaborator.n_prenom" name="n_prenom" required>
          <div ng-messages="createCollaboratorForm.n_prenom.$error">
            <div ng-message="required">Ce champ est obligatoire.</div>
            <div ng-message="md-maxlength">Le prénom ne doit pas dépasser 20 caractères.</div>
          </div>
        </md-input-container>

      </div>

      <div layout="row" layout-align="center" layout-xs="column">

        <md-input-container class="md-block" flex="35" flex-xs="100">
          <label>Login</label>
          <input maxlength="10" ng-model="createCollaboratorsVm.collaborator.n_pseudo" name="n_pseudo" required>
          <div ng-messages="createCollaboratorForm.n_pseudo.$error">
            <div ng-message="required">Ce champ est obligatoire.</div>
            <div ng-message="md-maxlength">Le pseudo ne doit pas dépasser 10 caractères.</div>
          </div>
        </md-input-container>

        <div flex="5" hide-xs="" hide-sm=""></div>

        <md-input-container class="md-block" flex="35" flex-xs="100">
          <label>Coût horaire (€)</label>
          <input ng-model="createCollaboratorsVm.collaborator.n_cout_horaire" type="number" min="0" max="9999" name="n_cout_horaire" required>
          <div ng-messages="createCollaboratorForm.n_cout_horaire.$error" multiple md-auto-hide="true">
            <div ng-message="required">Ce champ est obligatoire.</div>
            <div ng-message="min">Le coût horaire du nouveau collaborateur ne peut pas être inférieur à 0€.</div>
            <div ng-message="max">Le coût horaire du nouveau collaborateur ne peut pas être dépasser 9999€.</div>
          </div>
        </md-input-container>

      </div>

      <div layout="row" layout-align="center" layout-xs="column" nra-auth="'admin'">
      
        <md-input-container class="md-block" flex="35" flex-xs="100">
          <label>Rôle</label>
          <md-select ng-model="createCollaboratorsVm.collaborator.n_role" name="n_role" required nra-auth="'admin'">
            <md-option ng-repeat="role in createCollaboratorsVm.roles" value="{{role | lowercase}}" >
              {{role}}
            </md-option>
          </md-select>
          <div ng-messages="createCollaboratorForm.n_role.$error">
            <div ng-message="required">Ce champ est obligatoire.</div>
          </div>
        </md-input-container>

        <div flex="5" hide-xs="" hide-sm=""></div>
     
        <md-input-container class="md-block" flex="35" flex-xs="100">
          <label>Manager</label>
          <md-select ng-model="createCollaboratorsVm.collaborator.n_manager" name="n_manager" required nra-auth="'admin'">
            <md-option ng-repeat="manager in createCollaboratorsVm.managers" value="{{ manager._id }}">
              {{ manager.prenom }} {{ manager.nom }}
            </md-option>
          </md-select>
          <div ng-messages="createCollaboratorForm.n_manager.$error">
            <div ng-message="required">Ce champ est obligatoire.</div>
          </div>
        </md-input-container>

      </div>

      <br>

      <div layout="row" layout-align="center" layout-xs="column">

        <md-input-container class="md-block"  flex="35" flex-xs="100" >
          <label>Fonction</label>
          <md-select ng-model="createCollaboratorsVm.collaborator.n_fonction" name="n_fonction" required>
            <md-option ng-repeat="fonction in createCollaboratorsVm.fonctions" value="{{fonction}}" >
              {{fonction}}
            </md-option>
          </md-select>
          <div ng-messages="createCollaboratorForm.n_fonction.$error">
            <div ng-message="required">Ce champ est obligatoire.</div>
          </div>
        </md-input-container>
      
        <div flex="5" hide-xs="" hide-sm=""></div>

        <md-input-container class="md-block" flex="35" flex-xs="100">
          <label>Adresse mail</label>
          <input ng-model="createCollaboratorsVm.collaborator.n_email" type="email" ng-pattern="/^.+@.+\..+$/" name="n_email" required>
          <div ng-messages="createCollaboratorForm.n_email.$error">
            <div ng-message="required">Ce champ est obligatoire.</div>
            <div ng-message="pattern">L'adresse mail doit être une adresse mail valide.</div>
          </div>
        </md-input-container>
      
      </div>
      
      <div layout="row" layout-align="center" layout-xs="column">

        <md-input-container class="md-block" flex="35" flex-xs="100">
          <label>Mot de passe</label>
          <input ng-model="createCollaboratorsVm.collaborator.n_mot_de_passe" type="password" minlength="6" maxlength="12" name="n_mot_de_passe" required>
          <div ng-messages="createCollaboratorForm.n_mot_de_passe.$error">
            <div ng-message="required">Ce champ est obligatoire.</div>
            <div ng-message="minlength">Le mot de passe doit avoir au moins 6 caractères.</div>
            <div ng-message="maxlength">Le mot de passe doit avoir au maximum 12 caractères.</div>
          </div>
        </md-input-container>

        <div flex="5" hide-xs="" hide-sm=""></div>
       
        <md-input-container class="md-block" flex="35" flex-xs="100">
          <label>Confirmation mot de passe</label>
          <input ng-model="createCollaboratorsVm.collaborator.confirmPassword" type="password" minlength="6" maxlength="12" name="confirmPassword" match-password="n_mot_de_passe" required>
          <div ng-messages="createCollaboratorForm.confirmPassword.$error">
            <div ng-message="required">Ce champ est obligatoire.</div>
            <div ng-message="minlength">Le mot de passe doit avoir au moins 6 caractères.</div>
            <div ng-message="maxlength">Le mot de passe doit avoir au maximum 12 caractères.</div>
          </div>
        </md-input-container>

      </div>

      <div layout="row" layout-align="center">

        <md-input-container class="md-block">
          <div layout="row">
            <md-button class="md-raised" ng-click="createCollaboratorsVm.showCancelDialog($event)">Annuler</md-button>
            <md-button class="md-raised md-primary" type="submit" ng-click="createCollaboratorsVm.createCollaborator()" ng-disabled="createCollaboratorForm.$invalid" >Créer</md-button>
          </div>
        </md-input-container>

      </div>
    </form>

  </md-card-content>

</md-card>

<br>

