<!--
<section>
  <form class="form-horizontal" >

    <legend>Nouveau collaborateur</legend>


    <div>
      <md-input-container class="md-block" flex-gt-sm="">
        <label>Prénom</label>
        <input ng-model="collaborator.firstName">
      </md-input-container>
    </div>


    <div>
      <md-input-container class="md-block"  flex-gt-sm="">
        <label>Nom</label>
        <input ng-model="collaborator.lastName">
      </md-input-container>
    </div>


    <div>
      <md-input-container class="md-block" flex-gt-sm="">
        <label>Login</label>
        <input ng-model="collaborator.login">
      </md-input-container>
    </div>


    <div>
      <md-input-container class="md-block" flex-gt-sm="">
        <label>Rôle</label>
        <md-select ng-model="collaborator.role" >
          <md-option ng-repeat="role in roles" value="{{role}}">
            {{role}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>

    <br>


    <div>
      <md-input-container class="md-block" flex-gt-sm="">
        <label>Manager</label>
        <md-select ng-model="collaborator.manager">
          <md-option ng-repeat="collaborator in collaborators" value="{{ collaborator._id }}">
            {{ collaborator.prenom }} {{ collaborator.nom }}
          </md-option>
        </md-select>
      </md-input-container>
    </div>

    <br>


    <div>
      <md-input-container class="md-block" flex-gt-sm="">
        <label>Coût horaire</label>
        <input ng-model="collaborator.cost">
      </md-input-container>
    </div>


    <div>
      <md-input-container class="md-block" flex-gt-sm="">
        <label>Adresse mail</label>
        <input ng-model="collaborator.email" type="email">
      </md-input-container>
    </div>


    <div>
      <md-input-container class="md-block" flex-gt-sm="">
        <label>Mot de passe</label>
        <input ng-model="collaborator.password" type="password">
      </md-input-container>
    </div>


    <div>
      <md-input-container class="md-block" flex-gt-sm="">
        <label>Confirmation mot de passe</label>
        <input ng-model="collaborator.confirmPassword" type="password">
      </md-input-container>
    </div>


    <div>
      <md-button class="md-raised" ui-sref="collaborators">Annuler</md-button>
      <md-button class="md-raised md-primary" ng-click="createCollaborator()">Créer</md-button>
    </div>

    <br>
    <br>

  </form>

</section>
-->

<md-card>
  <md-card-title>

    <md-card-title-text>
      <span class="md-headline">Création d'un nouveau collaborateur</span>
    </md-card-title-text>

  </md-card-title>

  <md-card-content>

    <form class="form-horizontal" >

      <!-- Prénom -->
      <div>
        <md-input-container class="md-block">
          <label>Prénom</label>
          <input ng-model="collaborator.firstName">
        </md-input-container>
      </div>

      <!-- Nom -->
      <div>
        <md-input-container class="md-block">
          <label>Nom</label>
          <input ng-model="collaborator.lastName">
        </md-input-container>
      </div>

      <!-- Login -->
      <div>
        <md-input-container class="md-block">
          <label>Login</label>
          <input ng-model="collaborator.login">
        </md-input-container>
      </div>

      <!-- Rôle -->
      <div>
        <md-input-container class="md-block">
          <label>Rôle</label>
          <md-select ng-model="collaborator.role" >
            <md-option ng-repeat="role in roles" value="{{role}}">
              {{role}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>

      <br>

      <!-- Manager -->
      <div>
        <md-input-container class="md-block">
          <label>Manager</label>
          <md-select ng-model="collaborator.manager">
            <md-option ng-repeat="collaborator in collaborators" value="{{ collaborator._id }}">
              {{ collaborator.prenom }} {{ collaborator.nom }}
            </md-option>
          </md-select>
        </md-input-container>
      </div>

      <br>

      <!-- Coût horaire -->
      <div>
        <md-input-container class="md-block">
          <label>Coût horaire</label>
          <input ng-model="collaborator.cost">
        </md-input-container>
      </div>

      <!-- Addresse mail -->
      <div>
        <md-input-container class="md-block">
          <label>Adresse mail</label>
          <input ng-model="collaborator.email" type="email">
        </md-input-container>
      </div>

      <!-- Mot de passe -->
      <div>
        <md-input-container class="md-block">
          <label>Mot de passe</label>
          <input ng-model="collaborator.password" type="password">
        </md-input-container>
      </div>

      <!-- Confirmation mot de passe -->
      <div>
        <md-input-container class="md-block">
          <label>Confirmation mot de passe</label>
          <input ng-model="collaborator.confirmPassword" type="password">
        </md-input-container>
      </div>

    </form>

  </md-card-content>

  <md-card-actions layout="row" layout-align="end center">

    <md-button class="md-raised" ui-sref="collaborators">Annuler</md-button>
    <md-button class="md-raised md-primary" ng-click="createCollaborator()">Créer</md-button>

  </md-card-actions>

</md-card>

<br>
