<md-card>

  <md-toolbar layout="row">
  <div class="md-toolbar-tools">
    <h2 class="md-flex">Création d'un nouveau collaborateur</h2>
  </div>
  </md-toolbar>

  <md-card-content flex>

    <form class="form-horizontal" name="createCollaboratorForm">

      <div layout="row" layout-align="center" layout-xs="column">

        <md-input-container class="md-block" flex="35" flex-xs="100">
          <label>Nom</label>
          <input maxlength="20" ng-model="collaborator.lastName" name="nom" required>
          <div ng-messages="createCollaboratorForm.nom.$error">
            <div ng-message="required">Ce champ est obligatoire.</div>
            <div ng-message="md-maxlength">Le nom ne doit pas dépasser 20 caractères.</div>
          </div>
        </md-input-container>

        <div flex="5" hide-xs="" hide-sm=""></div>

        <md-input-container class="md-block" flex="35" flex-xs="100">
          <label>Prénom</label>
          <input maxlength="20" ng-model="collaborator.firstName" name="prenom" required>
          <div ng-messages="createCollaboratorForm.prenom.$error">
            <div ng-message="required">Ce champ est obligatoire.</div>
            <div ng-message="md-maxlength">Le prénom ne doit pas dépasser 20 caractères.</div>
          </div>
        </md-input-container>

      </div>

      <div layout="row" layout-align="center" layout-xs="column">

        <md-input-container class="md-block" flex="35" flex-xs="100">
          <label>Login</label>
          <input maxlength="10" ng-model="collaborator.login" name="login" required>
          <div ng-messages="createCollaboratorForm.login.$error">
            <div ng-message="required">Ce champ est obligatoire.</div>
            <div ng-message="md-maxlength">Le login ne doit pas dépasser 10 caractères.</div>
          </div>
        </md-input-container>

        <div flex="5" hide-xs="" hide-sm=""></div>

        <md-input-container class="md-block" flex="35" flex-xs="100">
          <label>Coût horaire (€)</label>
          <input ng-model="collaborator.cost" type="number" min="0" max="9999" name="cout" required>
          <div ng-messages="createCollaboratorForm.cout.$error" multiple md-auto-hide="true">
            <div ng-message="required">Ce champ est obligatoire.</div>
            <div ng-message="min">Le coût horaire du nouveau collaborateur ne peut pas être inférieur à 0€.</div>
            <div ng-message="max">Le coût horaire du nouveau collaborateur ne peut pas être dépasser 9999€.</div>
          </div>
        </md-input-container>

      </div>

      <div layout="row" layout-align="center" layout-xs="column" nra-auth="'admin'">
      
        <md-input-container class="md-block" flex="35" flex-xs="100">
          <label>Rôle</label>
          <md-select ng-model="collaborator.role" name="role" required nra-auth="'admin'">
            <md-option ng-repeat="role in roles" value="{{role.libelle_court}}" >
              {{role.libelle_long}}
            </md-option>
          </md-select>
          <div ng-messages="createCollaboratorForm.role.$error">
            <div ng-message="required">Ce champ est obligatoire.</div>
          </div>
        </md-input-container>

        <div flex="5" hide-xs="" hide-sm=""></div>
     
        <md-input-container class="md-block" flex="35" flex-xs="100">
          <label>Manager</label>
          <md-select ng-model="collaborator.manager" name="manager" required nra-auth="'admin'">
            <md-option ng-repeat="manager in managers" value="{{ manager._id }}">
              {{ manager.prenom }} {{ manager.nom }}
            </md-option>
          </md-select>
          <div ng-messages="createCollaboratorForm.role.$error">
            <div ng-message="required">Ce champ est obligatoire.</div>
          </div>
        </md-input-container>

      </div>

      <br>

      <div layout="row" layout-align="center" layout-xs="column">

        <md-input-container class="md-block"  flex="35" flex-xs="100" >
          <label>Fonction</label>
          <md-select ng-model="collaborator.fonction" name="fonction" required>
            <md-option ng-repeat="fonction in fonctions" value="{{fonction}}" >
              {{fonction}}
            </md-option>
          </md-select>
          <div ng-messages="createCollaboratorForm.fonction.$error">
            <div ng-message="required">Ce champ est obligatoire.</div>
          </div>
        </md-input-container>
      
        <div flex="5" hide-xs="" hide-sm=""></div>

        <md-input-container class="md-block" flex="35" flex-xs="100">
          <label>Adresse mail</label>
          <input ng-model="collaborator.email" type="email" ng-pattern="/^.+@.+\..+$/" name="email" required>
          <div ng-messages="createCollaboratorForm.email.$error">
            <div ng-message="required">Ce champ est obligatoire.</div>
            <div ng-message="pattern">L'adresse mail doit être une adresse mail valide.</div>
          </div>
        </md-input-container>
      
      </div>
      
      <div layout="row" layout-align="center" layout-xs="column">

        <md-input-container class="md-block" flex="35" flex-xs="100">
          <label>Mot de passe</label>
          <input ng-model="collaborator.password" type="password" minlength="6" maxlength="12" name="password" required>
          <div ng-messages="createCollaboratorForm.password.$error">
            <div ng-message="required">Ce champ est obligatoire.</div>
            <div ng-message="minlength">Le mot de passe doit avoir au moins 6 caractères.</div>
            <div ng-message="maxlength">Le mot de passe doit avoir au maximum 12 caractères.</div>
          </div>
        </md-input-container>

        <div flex="5" hide-xs="" hide-sm=""></div>
       
        <md-input-container class="md-block" flex="35" flex-xs="100">
          <label>Confirmation mot de passe</label>
          <input ng-model="collaborator.confirmPassword" type="password" minlength="6" maxlength="12" name="confirmPassword" match-password="password" required>
          <div ng-messages="createCollaboratorForm.confirmPassword.$error">
            <div ng-message="required">Ce champ est obligatoire.</div>
            <div ng-message="minlength">Le mot de passe doit avoir au moins 6 caractères.</div>
            <div ng-message="maxlength">Le mot de passe doit avoir au maximum 12 caractères.</div>
          </div>
        </md-input-container>

      </div>

      <div layout="row" layout-align="center">

        <md-input-container class="md-block">
          <div layout="row">
            <md-button class="md-raised" ng-click="showCancelDialog($event)">Annuler</md-button>
            <md-button class="md-raised md-primary" type="submit" ng-click="createCollaborator()" ng-disabled="createCollaboratorForm.$invalid" >Créer</md-button>
          </div>
        </md-input-container>

      </div>
    </form>

  </md-card-content>

</md-card>

<br>

